<h1>Sign up</h1>

<form action="/signup" method="POST">
  <div>
    <label for="username">Username</label>
    <input
      type="username"
      name="username"
      id="username"
      placeholder="Username"
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
  </div>
  <button type="submit">Sign up</button>
</form>